[submodule "nexter-website"]
	path = nexter-website
	url = https://github.com/valeshgopal/nexter-website.git
[submodule "acme-web"]
	path = acme-web
	url = https://github.com/valeshgopal/acme-web.git
[submodule "manage-tailwind-template"]
	path = manage-tailwind-template
	url = https://github.com/valeshgopal/manage-tailwind-template.git
[submodule "pricing-table"]
	path = pricing-table
	url = https://github.com/valeshgopal/pricing-table.git
[submodule "fcc-survey-form"]
	path = fcc-survey-form
	url = https://github.com/valeshgopal/fcc-survey-form.git
