[submodule "nexter-website"]
	path = nexter-website
	url = https://github.com/valeshgopal/nexter-website.git
[submodule "acme-web"]
	path = acme-web
	url = https://github.com/valeshgopal/acme-web.git
[submodule "manage-tailwind-template"]
	path = manage-tailwind-template
	url = https://github.com/valeshgopal/manage-tailwind-template.git
